<p id="notice"><%= notice %></p>

<p>
  <strong>Contract:</strong>
  <%= @payment.contract.description %>
</p>

<p>
  <strong>Full:</strong>
  <%= @payment.full %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
